EXPO_PUBLIC_SUPABASE_URL= https://lnvkpmiaxqfclxyynafx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxudmtwbWlheHFmY2x4eXluYWZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDA1MDcsImV4cCI6MjA4OTM3NjUwN30.0obN8PExcuHtEAySXg_IADrtjdAhLSFDtUCZr8giAms